* {
    box-sizing: border-box;
}

form {
    margin-bottom: 10px;
}

button {
    background-color: dodgerblue;
}

header {
    text-align: center;
    background-color: #383838;
    padding: 10px;
    font-size: 25px;
    color: white;
}

.prevSearch {
    padding: 10px;
}

.day1, .day2, .day3, .day4, .day5 {
    background: dodgerblue;
    color: white;
}

